<div id="github-search" class="jumbotron">
    <div class="container">
        <h1>GitBoy</h1>

        <p>Search for any user on GitHub</p>

        <form (submit)="$event.preventDefault(); searchUsers(search.value)">
            <p class="input-group">
                <input #search class="form-control" placeholder="Search for...">

                <span class="input-group-btn">
                    <button class="btn btn-default">Go!</button>
                </span>
            </p>
        </form>
    </div>
</div>

<div class="container">
    <app-user *ngFor="let user of users" [user]="user"></app-user>
</div>